.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
/*-----------HEADER---------*/
.logo {
	font-size: 80px;
	margin: 40px auto;
}
.logo span {
	font-size: 80px;
	color: #4BCAFF;
}
.logo a {
	text-decoration: none;
	color: #000;
}
.header {

}
.header-link {
	background: #35444F;
	display: flex;
	justify-content: center;
	height: 69px;
}
.header-link a {
	color:#fff;
	text-decoration: none;
	display: block;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	font-size: 24px;
	padding: 20px 18px;
	line-height: 28px;
}
.header-hover:hover {
	background: #222F3A;
}

/*--------Left-menu----------*/

.left-menu {
	border: 1px solid #495863;
	margin-top:48px;
	height: 360px;
}
.left-menu a {
	display: block;
	text-decoration: none;
	font-size: 23px;
	color:#495863;
	width: 344px;
	padding-top: 25px;
	padding-bottom: 24px;
	padding-left: 44px;
	box-sizing: border-box;
}
.left-menu-link b:hover{
	transform: translate(30px);
}
.left-menu-link:hover {
	background: #DBDBDB;
}
/*-----------Context---------*/
.main {
	display: flex;
}
.image-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 885px;
	height: 529px;
	margin-left:50px;
	margin-top: 48px;
	border: 1px solid #495863;
}
.image-menu img {
	width: 40%;

}
.text {
	font-size: 18px;
	font-family: roboto, sans-serif;
	line-height: 24px;
	margin-left: 49px;
	margin-top: 38px;
}
.sub-text {
	margin-top: 63px;
	margin-bottom: 54px;
}
/*-----------Footer----------*/

.menu-footer {
	display: flex;
	gap:20px;
	background: #63696E48;
	padding: 30px;
	margin-bottom: 20px;
}
.menu-footer a {
	font-family: roboto, sans-serif;
	font-size: 28px;
	line-height: 28px;
	text-decoration: none;
	color: #000;
}
.menu-footer b {
	font-family: roboto, sans-serif;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	margin-left:200px;
}
.footer-hover:hover {
	color: #3181A6;
	border-bottom: 2px solid #3181A6;
}