td,
th {
   font-family: 'arimo';
   color: #484848;
   padding-top: 50px;
   padding-bottom: 43px;
   text-transform: uppercase;
}

td {
   border-bottom: 1px solid #F2F2F2;
   text-align: center;
   line-height: 24px;
}

th {
   width: 160px;
   line-height: 28px;
}

td p,
th p {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

th:nth-child(even),
td:nth-child(even) {
   background-color: #E3E3E3;
}

img {
   margin-bottom: 4px;
}

.title p {
   font-weight: 700;
   font-size: 14px;
}

.title span {
   font-size: 20px;
   font-weight: 700;
}

.thead {
   border-top: 45px solid #3A4965;
   border-right: 50px solid #3A4965;
   border-bottom: 10px solid #3A4965;
   border-left: 50px solid #3A4965;
   padding-top: 26px;
   padding-bottom: 26px;
}

.tbody {
   border-right: 50px solid #3A4965;
   border-bottom: 10px solid #3A4965;
   border-left: 50px solid #3A4965;
}

.table {
   margin-left: auto;
   margin-right: auto;
}

.bg-standart {
   background-color: #89C331;
   border-bottom: none;
   color: #fff;
   font-size: 24px;
}

.bg-ultimate {
   background-color: #F04A56;
   border-bottom: none;
   color: #fff;
   font-size: 24px;
}

.bg-premium {
   background-color: #20807C;
   border-bottom: none;
   color: #fff;
   font-size: 24px;
}



.money b {
   margin-top: 10px;
   font-size: 36px;
   font-weight: 700;
}

.money span {
   position: absolute;
   top: 20px;
   left: 50px;
   font-size: 18px;
   padding-bottom: 10px;
}

.money em {
   padding-left: 20px;
   font-size: 14px;
}

.info-money {
   position: relative;
}

.btn {
   background-color: #414141;
   text-transform: uppercase;
   color: #fff;
   padding-top: 15px;
   padding-right: 20px;
   padding-left: 20px;
   border: none;
   border-radius: 4px;
   margin-top: 10px;
   cursor: pointer;
   border-bottom: 9px solid #343434;
   width: 90%;
}

.btn button {
   font-family: 'Arimo';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 28px;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   justify-content: center;

}

.first-column {
   padding-left: 20px;
   padding-right: 20px;
}