a,
p {
   text-decoration: none;
   color: #fff;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
   box-sizing: border-box;
}

.wrapper {
   max-width: 100vw;
   min-height: 100vh;
   background: url('../img/page.png') 0 0/100% no-repeat;
}

.container {
   margin: 0 auto;
   padding: 0 20px;
}

/* ----------Header---------- */
.header {
   background-color: #00000040;
}

.header-logo-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 17px 59px;
}

.logo {
   font-weight: 700;
   font-size: 22px;
   line-height: 22px;
}

.logo:hover a {
   color: #3CB878;
}

! ! ! .header-icon:hover img {
   color: #3CB878;
}

.login:hover {
   color: #3CB878;
}

.sign:hover {
   color: #3CB878;
}

.menu-item {
   display: flex;
   justify-content: center;
   align-items: center;
}

.img-1 {
   background: url('../img/calendar.svg')no-repeat;
   width: 2em;
   height: 2em;
   margin-right: 20px;
   cursor: pointer;
}

.bg-download-1:hover {
   width: 2em;
   height: 2em;
   background: url('../img/sprite-calendar.png') -30px -30px;
}

.img-2 {
   background: url('../img/envelope.svg') no-repeat;
   width: 2em;
   height: 2em;
   margin-right: 20px;
   cursor: pointer;
}

.bg-css_sprites__1_:hover {
   width: 2em;
   height: 2em;
   background: url('../img/sprite-envelope.png') -20px -20px;
}



.img-3 {
   background: url('../img/compass.svg') no-repeat;
   width: 2em;
   height: 2em;
   margin-right: 25px;
   cursor: pointer;
}

.bg-sprite_compas:hover {
   width: 2em;
   height: 2em;
   background: url('../img/sprite-compas.png') -20px -20px;
}


.header-icon {
   display: flex;
   border-right: solid 1px #ffffff90;
}

.header-icon a {
   margin-right: 20px;
}

.text-header {
   margin-left: 27px;
}

/* --------FORM--------- */
.section {
   display: flex;
   justify-content: center;
   align-items: center;
}

.form {
   width: 29vw;
   min-height: 80vh;
   background-color: #fff;
   border: solid 1px #000;
   margin-top: 45px;
   position: relative;
}

.form a {
   color: #000;
}

.enter {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 31px 59px;

}

.sign-up {
   font-weight: 400;
   font-size: 20px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.log-in a {
   color: #3CB878;
   font-size: 14px;
   font-weight: 400;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.log-in:hover {
   text-decoration: underline;
}

.green-box {
   position: absolute;
   top: 33px;
   left: 0;
   width: 18px;
   height: 18px;
   background-color: #3CB878;
}

.site {
   display: flex;
   justify-content: space-between;
}

.facebook {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #305DB8;
   border-radius: 3px;
   padding: 14px 20px;
   margin-left: 60px;
}

.facebook:hover {
   background-color: #022263;
}

.facebook a {
   padding-left: 32px;
   font-weight: 400;
   font-size: 16px;
   color: #fff;
}

.google {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #DF4A32;
   border-radius: 3px;
   padding: 14px 22px;
   margin-right: 60px;
   margin-left: 4px;
}

.google:hover {
   background-color: #AB1F09;
}

.google a {
   padding-left: 34px;
   font-weight: 400;
   font-size: 16px;
   color: #fff;
}

.line span {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 31px;
   color: #848484;
   font-size: 14px;
   font-weight: 400;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15px;

}

.date ::placeholder {
   color: #BEBEBE;

}

.date input {
   padding: 15px 144px 15px 20px;
   border: 1px solid #F2F2F2;
   border-radius: 8px;
}


.name {
   margin-top: 15px;
}

.last-name {
   margin-top: 15px;

}

.email {
   margin-top: 15px;

}

.choose-password {
   margin-top: 15px;

}

.confirm-password {
   margin-top: 15px;

}

.name:hover {
   box-shadow: 0 3px 8px #00000021;
}

.last-name:hover {
   box-shadow: 0 3px 8px #00000021;
}

.email:hover {
   box-shadow: 0 3px 8px #00000021;
}

.choose-password:hover {
   box-shadow: 0 3px 8px #00000021;
}

.confirm-password:hover {
   box-shadow: 0 3px 8px #00000021;
}

.name:active {
   border: none;
}

input {
   outline: none;
}

input[type~="text"],
input[type~="password"],
input[type~="email"],
textarea {
   font-size: 14px;
   font-weight: 400;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.agree {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.agree label {
   color: #000;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.agree a {
   color: #3CB878;
   text-decoration: underline;
}

.agree input {
   display: none;
}

.agree span {
   height: 17px;
   width: 17px;
   border: 1px solid #F2F2F2;
   display: inline-block;
   position: relative;
   background-color: #FFF;
   padding: 3px;
   margin-right: 10px;

}

[type=checkbox]:checked+span:before {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 23px;
}


.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
   margin-bottom: 10px;

}

.btn:hover button {
   background-color: #01813F;
}

.btn button {
   width: 75%;
   padding: 16px 0;
   background-color: #3CB878;
   border: none;
   font-size: 16px;
   color: #fff;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   cursor: pointer;
}