* {
   background-color: #000;
}

a {
   text-decoration: none;
}

.wrapper {
   max-width: 100vw;
   margin: 0 auto;
   overflow: hidden;
}

.container {
   margin: 0 230px;
}

.header-first-page {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 45px;
}

.header-first-page a {
   text-decoration: none;
   color: #E4B564;
}

.logo img {
   height: 33px;
   width: 216px;
}


.tell {
   display: flex;
   border: 1px solid #E4B564;
   padding: 10px 20px;
   gap: 10px;
}

.title {
   color: #fff;
   font-size: 50px;
   font-weight: 700;
   line-height: 28px;
   margin-top: 128px;
   margin-bottom: 28px;
}

.sub-title {
   color: #fff;
   font-weight: 700;
   font-size: 20px;
   line-height: 28px;
   max-width: 60vw;
}

.grid-1 {
   display: grid;
   width: 100%;
   height: 80vh;
   margin-top: 71px;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 33% 15% 15% 33%;
   grid-gap: 1vw 1vw;
   text-align: center;

}

.grid-1 div {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 20px;
   line-height: 28px;
}

.item-1 {
   background-color: #634F2C;
}

.item-2 {
   background-color: #B4A385;
   grid-column: 2 / span 2;
}

.item-3 {
   background-color: #E4B564;
}

/*
.grid-2 {
   display: grid;
   width: 70vw;
   height: 40vh;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1vw 2vw;
   text-align: center;
}*/

.item-4 {
   background-color: #635A4A;
   grid-column: 1 / span 2;
}

.item-5 {
   background-color: #B08C4D;
   grid-column: 3 / span 2;
}

.title-2 {
   font-weight: 700;
   font-size: 50px;
   line-height: 28px;
   color: #fff;
   margin-top: 160px;
}

.grid-2 {
   display: grid;
   grid-template-columns: 32% 33% 32%;
   grid-template-rows: 230px 55px 100px 121px 250px;
   grid-gap: 1vw 2vh;
   margin-top: 138px;
}

.grid-2 div {
   display: flex;
   justify-content: left;
   align-items: left;
   font-size: 20px;
   font-weight: 400;
   color: #fff;
   padding-top: 44px;
   padding-left: 52px;
}

.grid-2-item-1 {
   background-color: #0E0E0E;
   grid-column: 1;
   grid-row: 1 / span 2;
}

.grid-2-item-2 {
   background-color: #242424;
   grid-column: 2 / span 1;
   grid-row: 1 / span 3;
}

.grid-2-item-3 {
   background-color: #1F1F1F;
   grid-column: 3;
   grid-row: 1 / span 1;
}

.grid-2-item-4 {
   background-color: #1F1F1F;
   grid-column: 1;
   grid-row: 3 / span 3;
}

.grid-2-item-5 {
   background-color: #E4B564;
   grid-column: 2;
   grid-row: 4 / span 2;
}

.grid-2-item-6 {
   background-color: #0E0E0E;
   grid-column: 3;
   grid-row: 2 / span 3;
}

.grid-2-item-7 {
   background-color: #0A0909;
}

.header-last-page {
   display: flex;
   justify-content: space-between;
   margin-top: 363px;
}

.title-last-page {
   font-weight: 700;
   font-size: 50px;
   line-height: 28px;
   color: #fff;
}

.all-project {
   display: flex;
   align-items: center;
   border: 1px solid #E4B564;
   color: #E4B564;
   padding: 10px 40px;
   font-weight: 400;
   font-size: 18px;
}

.grid-3 {
   display: grid;
   grid-template-columns: 34% 33.1% 33%;
   grid-template-rows: 30vh 30vh;
   margin-top: 72px;
   margin-bottom: 238px;
}

.grid-3 div {
   display: flex;
   align-items: center;
   justify-content: center;
}

.grid-3-items-1 {
   background-color: #634F2C;
}

.grid-3-items-1 img {
   background-color: #634F2C;
}

.grid-3-items-2 {
   background-color: #E8D2AB76;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.grid-3-items-2 p {
   color: #fff;
   background-color: #E8D2AB00;
   width: 60%;
   text-align: center;
   font-weight: 400;
}

.grid-3-items-2 b {
   font-weight: 700;
   background-color: #E8D2AB00;
}

.grid-3-items-2 img {
   background-color: #E8D2AB00;
}

.grid-3-items-3 {
   background-color: #E4B564;

}

.grid-3-items-3 img {
   background-color: #E4B564;
}

.grid-3-items-4 {
   background-color: #635A4A;
}

.grid-3-items-4 img {
   background-color: #635A4A;
}

.grid-3-items-5 {
   background-color: #B08C4D;
}

.grid-3-items-5 img {
   background-color: #B08C4D;
}

.grid-3-items-6 {
   background-color: #634F2C;
}

.grid-3-items-6 img {
   background-color: #634F2C;
}