/*font-family: 'Open Sans',
sans-serif;
font-family: 'Roboto',
sans-serif;*/
body {
   overflow-x: hidden;
}

li {
   list-style: none;
}

.wrapper {
   position: relative;
   background: url('../img/page-1.png') 0 0/100% no-repeat;
   width: 100vw;
   height: 90vh;
}

.container {
   margin-left: 202px;
   margin-right: 202px;
}


.header {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 20px;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #000;
   background-color: #fff;
}

.logo {
   padding-top: 40px;
   padding-bottom: 40px;
   padding-left: 202px;
   line-height: 36px;
   font-family: 'roboto', sans-serif;
   font-size: 36px;
}

.logo p {
   font-weight: 400;
}

.logo span {
   font-weight: 900;
   color: #14AFCA;
}

.menu-link {
   display: flex;
   align-items: center;
   padding-right: 202px;
}

.menu-link a {
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'open sans', sans-serif;
   font-size: 15px;
   line-height: 20px;
   color: #000;
   margin-right: 40px;
}

li:hover a {
   color: #14AFCA;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #fff;
   padding-top: 200px;
   font-size: 46px;
   line-height: 75px;
   font-weight: 700;
   text-transform: uppercase;
   font-family: 'open sans',
      sans-serif;
}

.context {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   font-style: normal;
}

.context p {
   text-align: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #424F57;
   margin-top: 10px;
   width: 80%;
}

.context h1 {
   text-transform: uppercase;
   line-height: 40px;
   font-weight: 700;
   font-size: 60px;
   color: #14AFCA;
   font-family: 'roboto', sans-serif;
}

.context h6 {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 40px;
   color: #424F57;
   margin-top: 10px;
}

.footer-page {
   background: url('../img/footer-page-1.png') 0 0/100% no-repeat;
   width: 100vw;
   height: 100%;
}

.footer-text-1 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #fff;
}

.footer-text-1 h1 {
   color: #14AFCA;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 60px;
   line-height: 75px;
   margin-top: 150px;
}

.footer-text-1 h6 {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 75px;
}

.block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 150px;
}

.adobe {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   padding: 10px;
}

.personal {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.title-page-2 {
   text-align: center;
   margin-top: 130px;
}

.title-page-2 h1 {

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 60px;
   line-height: 40px;
   color: #14AFCA;
}

.title-page-2 h6 {
   margin-top: 20px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 40px;
   letter-spacing: 1px;
}

.personal-people {
   margin-top: 15px;

   display: flex;
   justify-content: center;

}

.personal-people p {
   text-align: center;
   width: 70%;
   margin-top: 10px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #424F57;
}

.person {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}

/* end page 2 */

.section-page-2 {
   background: url('../img/page-2-footer.png') 0 0/100% no-repeat;
   margin-top: 87px;
}

.testimonials {

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #FFF;
}

.testimonials h1 {
   margin-top: 150px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 60px;
   line-height: 40px;

   letter-spacing: 1.5px;
   text-transform: uppercase;

   color: #14AFCA;
}

.testimonials h6 {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 40px;
   letter-spacing: 1px;
   margin-top: 10px;
}

.testimonials p {

   font-family: 'OpenSans';
   font-size: 16px;
   line-height: 28px;

   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.8px;
   margin-top: 48px;
}

.name {
   color: #FFF;
   padding-bottom: 250px;
   margin-top: 28px;
   font-family: 'OpenSans';
   font-size: 18px;
   line-height: 24px;
   font-size: bold;
   display: flex;
   justify-content: end;
   letter-spacing: 0.45px;
}

/* footer */

.last-context {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.last-context h1 {
   margin-top: 100px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 60px;
   line-height: 40px;
   letter-spacing: 1.5px;
   text-transform: uppercase;

   color: #14AFCA;
}

.last-context h6 {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 40px;
   margin-top: 10px;
   margin-bottom: 20px;

   color: #424F57;
}

.last-context p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 48px;
   letter-spacing: 0.75px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

   color: #424F57;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 200px;
   margin-top: 96px;
}

.footer p {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.7px;
   text-align: center;
   width: 45%;
}

.footer b {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.799999px;

   color: #3D3C3C;
}