* {
   box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
   text-decoration: none;
   color: #fff;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
   max-width: 100vw;
   min-height: 100vh;
   background: url('../img/background_1.png') 0 0/100% no-repeat;
}

.container {
   margin: 0 160px;
}

.header {
   display: flex;
   justify-content: space-between;
   padding-top: 46px;
}

.logo {
   background: url('../img/Logo.png') no-repeat;
   width: 10vw;
}

.logo:hover {
   background: url('../img/Logo-2.png') no-repeat;
   width: 10vw;
}

.email:hover {
   color: #F26522;
}

.number:hover {
   color: #F26522;
}

.contact {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.email,
.number {
   color: #fff;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cartoon:hover {
   color: #F26522;
}

.block {
   display: flex;
   justify-content: space-between;
   margin-top: 17px;
   margin-bottom: 20px;
}

.block-for-img a {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.text-1 a:hover,
.text-2 a:hover,
.text-3 a:hover,
.text-4 a:hover,
.text-5 a:hover,
.text-6 a:hover {
   color: #F26522;
}

.img-1 {
   position: relative;
   background: url('../img/1.png');
   width: 19vw;
   height: 29vh;
}

.img-2 {
   position: relative;
   background: url('../img/2.png');
   width: 19vw;
   height: 29vh;
}

.img-3 {
   position: relative;
   background: url('../img/3.png');
   width: 19vw;
   height: 29vh;
}

.img-4 {
   position: relative;
   background: url('../img/4.png');
   width: 19vw;
   height: 29vh;
}

.img-5 {
   position: relative;
   background: url('../img/5.png');
   width: 19vw;
   height: 29vh;
}

.img-6 {
   position: relative;
   background: url('../img/6.png');
   width: 19vw;
   height: 29vh;
}


/* block for img */
.from {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 10px;
   line-height: 10px;
   color: #fff;
   margin: 7px 15px;
}

.detail {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: #F26522;
   opacity: 0;
   transition: 0.3s linear;
}

.detail a {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 14px;
   line-height: 14px;
   display: block;
}

.price a::after {
   content: "";
   margin-left: 1rem;
   width: 10px;
   height: 10px;
   display: inline-block;
   background: url('../img/vector.svg') no-repeat;
   transition: all .1s;
}

.price {
   display: flex;
   justify-content: space-between;
   color: #fff;
   font-size: 20px;
   line-height: 20px;
   padding: 0 15px 12px 15px;
}

.detail:hover {
   opacity: 1;
}

/* text */
.row-1:hover a {
   color: #F26522;
}

/*.row-1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin-top: 20px;
}

.cartoon {
   display: flex;
   flex-direction: column;
   gap: 20px;
}*/

.footer {
   display: flex;
   justify-content: center;
   color: #fff;
   margin-top: 80px;
   font-size: 12px;
   line-height: 12px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}