.wrapper {
   margin: 0 auto;
   padding: 0 auto;
   width: 100vw;
   height: 100vh;
}

td,
th {
   border-right: 1px solid #F2F2F2;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
}

.table {
   border: 49px solid #3A4965;
   height: 684px;
}

.text td {
   text-align: center;
   padding: 22px 68px;
   font-size: 16px;
   line-height: 16px;
   color: #484848;
}


.money span {
   font-size: 24px;
   line-height: 28px;
}

.standart-info {
   text-align: center;
}

.ultimate-info {
   text-align: center;
}

.premium-info {
   text-align: center;
}

.money p {
   display: flex;
   justify-content: center;
   font-size: 14px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.money b {
   font-size: 60px;
   margin-top: 24px;
   margin-bottom: 14px;
   margin-left: 31px;
   line-height: 28px;
}

.money em {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
}

.choose-your {
   font-size: 18px;
   line-height: 28px;
   font-weight: 700;
   border: none;
   background-color: #FAFAFA;
   width: 313px;
}

.choose-your span {
   display: block;
   font-size: bold;
   font-weight: 700;
   font-size: 30px;
   line-height: 28px;
}

.standard {
   background-color: #89C331;
   color: #fff;
   padding: 27px 58px;
   border: none;
   width: 280px;
}

.ultimate {
   background-color: #F04A56;
   color: #fff;
   padding: 27px 58px;
   border: none;
   width: 280px;
}

.premium {
   background-color: #20807C;
   color: #fff;
   padding: 27px 58px;
   border: none;
   width: 280px;
}

.img-flex {
   display: flex;
   justify-content: center;
   align-items: center;

}

.img-flex img {
   margin-right: 5px;
}

.bg-colon-2 {
   background-color: #FAFAFA;
}

.bg-colon-3 {
   background-color: #F2F2F2;
}

.bg-colon-4 {
   background-color: #E3E3E3;
}

.bg-colon-5 {
   background-color: #F2F2F2;
}

.bg-colon-6 {
   background-color: #E3E3E3;
}

.bg-colon-7 {
   background-color: #F2F2F2;
}

.bg-colon-8 {
   background-color: #E3E3E3;
}



.btn {
   text-align: center;
   align-items: center;
}

.btn button {
   width: 192px;
   height: 52px;
   margin-top: 32px;
   margin-bottom: 30px;
   border: none;
   border-radius: 4px;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   cursor: pointer;
}

.bg-block-btn-1 {
   background-color: #E3E3E3;
}

.bg-block-btn-1 button {
   padding-top: 10px;
   background-color: #484848;
   border-bottom: 9px solid #404040;
}

.bg-block-btn-2 button {
   padding-top: 10px;
   background-color: #89C331;
   border-bottom: 9px solid #79B027;
}

.bg-block-btn-3 button {
   padding-top: 10px;
   background-color: #F04A56;
   border-bottom: 9px solid #DF3A46;
}

.bg-block-btn-4 {
   background-color: #F2F2F2;
}

.bg-block-btn-4 button {
   padding-top: 10px;
   background-color: #20807C;
   border-bottom: 9px solid #16736F;
}